* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 4px;
}

*::-webkit-scrollbar-track {
  background: #0E1217; 
}

*::-webkit-scrollbar-thumb {
  background: #22252D; 
}

.overlay-shadow {
  -webkit-mask-image: linear-gradient(180deg,#000 calc(100% - 120px),transparent);
  mask-image: linear-gradient(180deg,#000 calc(100% - 120px),transparent);
}